.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 0 2rem;
}

.header ul{
    font-size: 24px;
}

.header li{
    list-style-type: none;
    display: inline;
    padding-left: 1rem;
}